#container {
  margin-top: 40px;
  margin-bottom: 40px;
}

span.badge {
  color: #fff;
  padding: 5px 5px;
}

div.alert.alert-success {
  margin-top: 100px;
  margin-bottom: 150px;
}

.inc-dec {
  cursor: pointer;
  transition: 0.2s ease-in;
}

.inc-dec:hover {
  color: red;
}
