<div class="container" id="container">
  <div *ngIf="!loading && !orderSubmitted" class="row">
    <div class="col-md-7 order-md-1">
      <form [formGroup]="checkoutForm" (ngSubmit)="placeOrder(checkoutForm)">
        <h2>Complete Your Order</h2>
        <hr>
        <div class="form-group">
          <label for="inputAddress">Full Name</label>
          <input type="text" class="form-control" id="inputAddress" formControlName="name" placeholder="First and Last Name">
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" formControlName="email" placeholder="Email" >
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Phone Number</label>
            <input type="tel" class="form-control" id="inputPassword4" formControlName="phone" placeholder="Phone Number">
          </div>
        </div>

        <div class="form-group">
          <label for="inputAddress2">District</label>
          <input type="text" class="form-control" id="inputAddress2" formControlName="district" placeholder="District of Residence">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">Subcounty</label>
            <input type="text" class="form-control" id="inputCity" formControlName="subcounty" placeholder="Subcounty">
          </div>
          <div class="form-group col-md-6">
            <label for="inputCity">Parish</label>
            <input type="text" class="form-control" id="parish" formControlName="parish" placeholder="Parish">
          </div>
        </div>
        <br>
        <button [disabled]="checkoutForm.invalid || !cart || cart.length === 0" type="submit" class="btn btn-primary">Submit My Order</button>
      </form>
    </div>
    <div class="col-md-1 order-md-2 mb-4"></div>
    <div class="col-md-4 order-md-2 mb-4">
      <h4>Your Items</h4>
      <ul class="list-group">
        <li *ngFor="let product of cart" class="list-group-item d-flex justify-content-between align-items-center">
          <i class="fa fa-plus inc-dec" (click)="increment(product)"></i>
          {{ product.name }} ({{ product.qty }})
          <span class="badge bg-primary rounded-pill">{{product.price | currency: 'UGX '}}</span>
          <i class="fa fa-minus inc-dec" (click)="decrement(product)"></i>
        </li>
      </ul>
      <hr>
      <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between"><span style="font-weight: bold;">Total - {{total | currency: 'UGX '}}</span></li>
    </ul>
    </div>
  </div>

  <app-loading *ngIf="loading" [message]="'Submitting your order'"></app-loading>

  <div *ngIf="orderSubmitted && !loading" class="alert alert-success" role="alert">
    <h4 class="alert-heading">Congratulations</h4>
    <p style="font-size: 16;">Your order has been successfully submitted at Safe Water Uganda. An agent will reachout to you as soon as your order is ready for delivery</p>
    <hr>
    <p class="mb-0" style="font-size: 16;">In the meantime you can browse some of our other <a routerLink="/product"><b>Products</b></a> in stock.</p>
  </div>
</div>
