<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">About Us</h2>
			</div>
		</div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="about">
            <div class="row"> 
                <div class="col-md-12">
                    <div class="about-logo">
                        <h3>About the <span class="color">PROJECT</span></h3>
                        <p>Application of Mobile-Phone Technology to Advance Access to Sustainable Point-Of-Use
                         <p>Water Purification Technologies for Household Drinking Water, Knowledge & Water Reuse for Backyard Food Production (mWaF project) under the supervision of Dr Prossie Nakawuka and Dr Joshua Wanyama.<br>
							The mWaF project targets the 19.8 million mobile-phone users in Uganda, of which 6 million are smartphone users and 46% (9.1 million people) are internet users8.  Most of these are situated in urban areas;<br>
							with a population of about 7.4 million people; grappling with poor sanitation, hygiene, access to clean drinking water, waterborne diseases and food insecurity. The situation is worse in slum settlements<br>
							which are usually pigeonholed by poverty and inadequate access to water and thus are susceptible to sporadic outbreaks of waterborne diseases and hunger. In Kampala alone, 53.6% of the 1.5 million urban <br>
							population live under slum settings9. A slum is a densely populated urban informal settlement with inhabitants living in shoddy housing and low standards.<br> 
                            Determined with the vision of achieving Sustainable Development Goals (SDGs) and Uganda’s Vision 2040, the power of mobile phone technology and digital inclusion is a critical path in accelerating and achieving the set vision.</p>
                    </div>
                    <a href="#" class="btn btn-primary">Read more</a>  
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <img src="../assets/img/products/saka.jpg" alt="">
                    <div class="space"></div>
                </div>
                <div class="col-md-6">
                    <p>Lorem ipsum dolor sit amet, cadipisicing  sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde fuga error commodi architecto, laudantium culpa tenetur at id, beatae pet.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. adipisicing  sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium,m deserunt.</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Lorem ipsum enimdolor sit amet</li>
                        <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Explicabo deleniti neque aliquid</li>
                        <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Consectetur adipisicing elit</li>
                        <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Lorem ipsum dolor sit amet</li>
                        <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Quo issimos molest quibusdam temporibus</li>
                    </ul>
                </div>
            </div>
            <br/> 
            <hr>
            <br>
            <br>

            <!-- Heading -->
			<div class="block-heading-six">
				<h3 class="bg-color">Our Team</h3>
			</div>
            <br>
            
            <!-- Our team starts -->
						<div class="team-six">
							<div class="row">
								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<img class="img-responsive" src="assets/img/placeholder.png" alt="">
										<!-- Name -->
										<h4>Johne Doe</h4>
										<span class="deg">Creative</span> 
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<img class="img-responsive" src="assets/img/placeholder.png" alt="">
										<!-- Name -->
										<h4>Jennifer</h4>
										<span class="deg">Programmer</span> 
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<img class="img-responsive" src="assets/img/placeholder.png" alt="">
										<!-- Name -->
										<h4>Christean</h4>
										<span class="deg">CEO</span> 
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<img class="img-responsive" src="assets/img/placeholder.png" alt="">
										<!-- Name -->
										<h4>Kerinele rase</h4>
										<span class="deg">Manager</span> 
									</div>
								</div>
							</div>
						</div>
						
						<!-- Our team ends -->
					  
						

        </div>
    </div>
</section>
