<nav class="navbar navbar-expand-lg navbar-dark bg-dark container-fluid">
    <a class="navbar-brand" href="#">
      <img
      width="40"
      alt="Project logo"
      src="../assets/img/mukfav.png"
    />
    <span class="col-sm" style="padding-left: 1em;">Safe Water</span>
  </a>
  
  <form class="navbar-form form-inline">
    <div class="input-group search-box">								
      <input type="text" id="search" class="form-control" placeholder="Search here...">
      <span class="input-group-addon fa fa-search" ></span>
    </div>
  </form>
  
  <button (click)="toggleNavbar()" class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  
  <div class="collapse navbar-collapse "  [ngClass]="{ 'show': navbarOpen }">
      <ul class="nav navbar-nav ml-auto">
          <li class="active nav-item"><a class="nav-link" routerLink="/home">Home</a></li> 
          <li class="nav-item"><a class="nav-link" href="" routerLink="/about">About Us</a></li>
          <li class="nav-item"><a class="nav-link" href="" routerLink="/product">Products</a></li>
          <li class="nav-item"><a class="nav-link" href="" routerLink="/soko">PoU tech</a></li>
          <li class="nav-item"><a class="nav-link" href="" routerLink="/library">Library</a></li>
          <li class="nav-item"><a class="nav-link" href="" routerLink="/contact">Contact</a></li>
          <li>
            
          </li>
          <li>
            
          </li>
        </ul>
  </div>
  
  <div ngbDropdown role="group" class="dropdown-toggle" style="margin: 10px;">
    <a class="user ml-auto" *ngIf="user" ngbDropdownToggle   target="_blank" rel="noopener"  title="Twitter" >
      <i class="fa fa-user fa-2x" ></i>
      <p style="color: aliceblue;">{{loggedUser}}</p>
    </a>
    <div class="dropdown-menu" ngbDropdownMenu>
      <button ngbDropdownItem>Edit User Info</button>
      <button ngbDropdownItem (click) = "logout()">Log Out</button>
      <button ngbDropdownItem></button>
    </div>
  </div>
  
  
  <div ngbDropdown>
    <a ngbDropdownToggle type="button" *ngIf="!user" class="btn  ml-auto dropdown-toggle"  style="margin: 10px;">Log In</a>
    <ul *ngIf="!user" class="dropdown-menu form-wrapper "  ngbDropdownMenu>					
        <li>
          <form *ngIf="!isloading" id="login-form" [formGroup]="angForm1" (ngSubmit)="postsignindata(angForm1)" autocomplete="off">
            <p class="hint-text">Sign in with your Email and Password</p>
              
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Email Address" name="email" required="required" formControlName="email" autocomplete="off" >
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" name="password" placeholder="Password" required="required" formControlName="password"  autocomplete="off">
                </div>
                <input type="submit" class="btn btn-primary btn-block" value="Login">
                <div class="form-footer">
                  <a href="#">Forgot Your password?</a>
                </div>
              </form>
              <app-loading [message]="'Logging in...'" *ngIf="isloading"></app-loading>
            </li>
    </ul>
  </div>
  <div ngbDropdown>
    <button ngbDropdownToggle  type="button" *ngIf="!user" class="btn  ml-auto get-started-btn"  style="margin: 10px;">Sign Up</button>
    <ul class="dropdown-menu form-wrapper" ngbDropdownMenu>					
      <li>
        <form  method="post" [formGroup]="angForm" (ngSubmit)="postdata(angForm)" *ngIf="!isloading && !isRegistered" >
          <p class="hint-text">Fill in this form to create your account!</p>
          <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="name" required="required" formControlName="name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="email" required="required" formControlName="email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required="required" formControlName="password">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="passwordConfirm" placeholder="Confirm Password" required="required" formControlName="passwordConfirm">
          </div>
          <div class="form-group">
            <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms &amp; Conditions</a></label>
          </div>
          <input type="submit" class="btn btn-primary btn-block" value="Sign up">
        </form>
        <app-loading [message]="'Creating Account'" *ngIf="isloading && !isRegistered"></app-loading>
        <div *ngIf="isRegistered">
          <h3>Congratulations</h3>
          <p>Your account has been successfully created. Please check your inbox at {{registeredEmail}} to confirm your account</p>
          <p>Thank you...</p>
        </div>
      </li>
    </ul>
  </div>

        
        <button type="button"  class="btn btn-info ml-auto" routerLink="/cart" >
          <i class="fa fa-shopping-cart fa-2x"></i>
          <span class="badge badge-light">0</span>
        </button>


</nav>