
<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Check Out Awesome Deals On Our Products</h2>
			</div>
		</div>
    </div>
</section>

<section class="products">
	<div class="container-fluid">

        <div class="row">
			<div class="col-md-2 mb-4 mb-md-0">
  
			  <div class="view zoom z-depth-2 rounded  text-center">
				<img class="img-fluid" src="assets/img/products/1.jpg" alt="Sample" style="max-height: 250px;">
				<a href="#!">
				  <div class="mask waves-effect waves-light"></div>
				</a>
			  </div>
  
			</div>
			<div class="col-md-4">
  
			  <h4>Touchless Wash From Badaye Texhnologies</h4>
			  <p class="mb-2 text-muted text-uppercase small">To Keep you Safe and Health</p>
			  <ul class="list-inline" style="list-style: none; display: inline-block;">
				<li class="list-inline-item">
				  <i class="fa fa-star fa-md text-primary"></i>
				</li>
				<li class="list-inline-item">
				  <i class="fa fa-star fa-md text-primary"></i>
				</li>
				<li class="list-inline-item">
				  <i class="fa fa-star fa-md text-primary"></i>
				</li>
				<li class="list-inline-item">
				  <i class="fa fa-star fa-md text-primary"></i>
				</li>
				<li class="list-inline-item">
				  <i class="fa fa-star fa-md text-default"></i>
				</li>
			  </ul>
			  <p><span class="mr-1"><strong>0.000\=</strong></span></p>
				<hr>
			  <button type="button" class="btn btn-outline-primary btn-md mr-1 mb-2 waves-effect waves-light" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
				  aria-controls="collapseExample">
				  Details
				</button>
			  <button type="button" class="btn btn-info btn-md mr-1 mb-2 waves-effect waves-light">Buy now</button>
			  <button type="button" class="btn btn-success btn-md mr-1 mb-2 waves-effect waves-light"><i class="fa fa-shopping-cart pr-2" style="margin-right: 10px"></i>Add to cart</button>
			

			  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
				<div class="card">
				  <div class="card-body">
					<p  class="pt-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, sapiente illo. Sit
						error voluptas repellat rerum quidem, soluta enim perferendis voluptates laboriosam. Distinctio,
						officia quis dolore quos sapiente tempore alias.</p>
					  <div class="table-responsive">
						<table class="table table-sm table-borderless mb-0">
						  <tbody>
							<tr>
							  <th class="pl-0 w-25" scope="row"><strong>Made In:</strong></th>
							  <td>Uganda</td>
							</tr>
							<tr>
							  <th class="pl-0 w-25" scope="row"><strong>Model</strong></th>
							  <td>TW-20</td>
							</tr>
							<tr>
							  <th class="pl-0 w-25" scope="row"><strong>Solution</strong></th>
							  <td>Covid-19</td>
							</tr>
						  </tbody>
						</table>
					  </div>
				  </div>
				</div>
			  </div>
			  <!-- <hr> -->
			  <!-- <div class="table-responsive mb-2">
				<table class="table table-sm table-borderless">
				  <tbody>
					<tr>
					  <td class="pl-0 pb-0 w-25">Quantity</td>
					</tr>
					<tr>
					  <td class="pl-0 pb-0 w-25">
						<div class="def-number-input number-input safari_only mb-0 border" >
						  <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="fa fa-minus" style="border: 0;"></button>
						  <input class="quantity" min="0" name="quantity" value="1" type="number" style="width: 40px; border: 0; text-align: center;">
						  <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="fa fa-plus" style="border: 0;"></button>
						</div>
					  </td>
					</tr>
				  </tbody>
				</table>
			  </div> -->
			  
			</div>


			<div class="col-md-2 mb-4 mb-md-0">
  
				<div class="view zoom z-depth-2 rounded text-center">
				  <img class="img-fluid" src="assets/img/placeholder.png" alt="Sample" style="max-height: 250px;">
				  <a href="#!">
					<div class="mask waves-effect waves-light"></div>
				  </a>
				</div>
	
			  </div>
			  <div class="col-md-4">
	
				<h4>Product from Badaye</h4>
				<p class="mb-2 text-muted text-uppercase small">Transform your home</p>
				<ul class="list-inline" style="list-style: none; display: inline-block;">
				  <li class="list-inline-item">
					<i class="fa fa-star fa-md text-primary"></i>
				  </li>
				  <li class="list-inline-item">
					<i class="fa fa-star fa-md text-primary"></i>
				  </li>
				  <li class="list-inline-item">
					<i class="fa fa-star fa-md text-primary"></i>
				  </li>
				  <li class="list-inline-item">
					<i class="fa fa-star fa-md text-primary"></i>
				  </li>
				  <li class="list-inline-item">
					<i class="fa fa-star fa-md text-default"></i>
				  </li>
				</ul>
				<p><span class="mr-1"><strong>0.000\=</strong></span></p>
				  <hr>
				<button type="button" class="btn btn-outline-primary btn-md mr-1 mb-2 waves-effect waves-light" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
					aria-controls="collapseExample">
					Details
				  </button>
				<button type="button" class="btn btn-info btn-md mr-1 mb-2 waves-effect waves-light">Buy now</button>
				<button type="button" class="btn btn-success btn-md mr-1 mb-2 waves-effect waves-light"><i class="fa fa-shopping-cart pr-2" style="margin-right: 10px"></i>Add to cart</button>
			  
  
				<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
				  <div class="card">
					<div class="card-body">
					  <p  class="pt-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, sapiente illo. Sit
						  error voluptas repellat rerum quidem, soluta enim perferendis voluptates laboriosam. Distinctio,
						  officia quis dolore quos sapiente tempore alias.</p>
						<div class="table-responsive">
						  <table class="table table-sm table-borderless mb-0">
							<tbody>
							  <tr>
								<th class="pl-0 w-25" scope="row"><strong>Made In:</strong></th>
								<td>Uganda</td>
							  </tr>
							  <tr>
								<th class="pl-0 w-25" scope="row"><strong>Model</strong></th>
								<td>TW-20</td>
							  </tr>
							  <tr>
								<th class="pl-0 w-25" scope="row"><strong>Solution</strong></th>
								<td>Covid-19</td>
							  </tr>
							</tbody>
						  </table>
						</div>
					</div>
				  </div>
				</div>
				
			  </div>
		</div>
		<div class="row">
			<div class="col-md-2 mb-4 mb-md-0">
  
			  <div class="view zoom z-depth-2 rounded text-center">
				<img class="img-fluid" src="assets/img/placeholder.png" alt="Sample" style="max-height: 250px;">
				<a href="#!">
				  <div class="mask waves-effect waves-light"></div>
				</a>
			  </div>
  
			</div>
			<div class="col-md-4">
  
			  <h4>Anothe Product From Badaye</h4>
			  <p class="mb-2 text-muted text-uppercase small">Waste Nothing</p>
			  <ul class="list-inline" style="list-style: none; display: inline-block;">
				<li class="list-inline-item">
				  <i class="fa fa-star fa-md text-primary"></i>
				</li>
				<li class="list-inline-item">
				  <i class="fa fa-star fa-md text-primary"></i>
				</li>
				<li class="list-inline-item">
				  <i class="fa fa-star fa-md text-primary"></i>
				</li>
				<li class="list-inline-item">
				  <i class="fa fa-star fa-md text-primary"></i>
				</li>
				<li class="list-inline-item">
				  <i class="fa fa-star fa-md text-default"></i>
				</li>
			  </ul>
			  <p><span class="mr-1"><strong>0.000\=</strong></span></p>
				<hr>
			  <button type="button" class="btn btn-outline-primary btn-md mr-1 mb-2 waves-effect waves-light" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
				  aria-controls="collapseExample">
				  Details
				</button>
			  <button type="button" class="btn btn-info btn-md mr-1 mb-2 waves-effect waves-light">Buy now</button>
			  <button type="button" class="btn btn-success btn-md mr-1 mb-2 waves-effect waves-light"><i class="fa fa-shopping-cart pr-2" style="margin-right: 10px"></i>Add to cart</button>
			

			  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
				<div class="card">
				  <div class="card-body">
					<p  class="pt-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, sapiente illo. Sit
						error voluptas repellat rerum quidem, soluta enim perferendis voluptates laboriosam. Distinctio,
						officia quis dolore quos sapiente tempore alias.</p>
					  <div class="table-responsive">
						<table class="table table-sm table-borderless mb-0">
						  <tbody>
							<tr>
							  <th class="pl-0 w-25" scope="row"><strong>Made In:</strong></th>
							  <td>Uganda</td>
							</tr>
							<tr>
							  <th class="pl-0 w-25" scope="row"><strong>Model</strong></th>
							  <td>TW-20</td>
							</tr>
							<tr>
							  <th class="pl-0 w-25" scope="row"><strong>Solution</strong></th>
							  <td>Covid-19</td>
							</tr>
						  </tbody>
						</table>
					  </div>
				  </div>
				</div>
			  </div>
			  <!-- <hr> -->
			  <!-- <div class="table-responsive mb-2">
				<table class="table table-sm table-borderless">
				  <tbody>
					<tr>
					  <td class="pl-0 pb-0 w-25">Quantity</td>
					</tr>
					<tr>
					  <td class="pl-0 pb-0 w-25">
						<div class="def-number-input number-input safari_only mb-0 border" >
						  <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="fa fa-minus" style="border: 0;"></button>
						  <input class="quantity" min="0" name="quantity" value="1" type="number" style="width: 40px; border: 0; text-align: center;">
						  <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="fa fa-plus" style="border: 0;"></button>
						</div>
					  </td>
					</tr>
				  </tbody>
				</table>
			  </div> -->
			  
			</div>


			<div class="col-md-2 mb-4 mb-md-0">
  
				<div class="view zoom z-depth-2 rounded  text-center">
				  <img class="img-fluid" src="assets/img/placeholder.png" alt="Sample" style="max-height: 250px;">
				  <a href="#!">
					<div class="mask waves-effect waves-light"></div>
				  </a>
				</div>
	
			  </div>
			  <div class="col-md-4">
	
				<h4>Yet another Product from Badaye</h4>
				<p class="mb-2 text-muted text-uppercase small">We Involve You</p>
				<ul class="list-inline" style="list-style: none; display: inline-block;">
				  <li class="list-inline-item">
					<i class="fa fa-star fa-md text-primary"></i>
				  </li>
				  <li class="list-inline-item">
					<i class="fa fa-star fa-md text-primary"></i>
				  </li>
				  <li class="list-inline-item">
					<i class="fa fa-star fa-md text-primary"></i>
				  </li>
				  <li class="list-inline-item">
					<i class="fa fa-star fa-md text-primary"></i>
				  </li>
				  <li class="list-inline-item">
					<i class="fa fa-star fa-md text-default"></i>
				  </li>
				</ul>
				<p><span class="mr-1"><strong>0.000\=</strong></span></p>
				  <hr>
				<button type="button" class="btn btn-outline-primary btn-md mr-1 mb-2 waves-effect waves-light" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
					aria-controls="collapseExample">
					Details
				  </button>
				<button type="button" class="btn btn-info btn-md mr-1 mb-2 waves-effect waves-light">Buy now</button>
				<button type="button" class="btn btn-success btn-md mr-1 mb-2 waves-effect waves-light"><i class="fa fa-shopping-cart pr-2" style="margin-right: 10px"></i>Add to cart</button>
			  
  
				<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
				  <div class="card">
					<div class="card-body">
					  <p  class="pt-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, sapiente illo. Sit
						  error voluptas repellat rerum quidem, soluta enim perferendis voluptates laboriosam. Distinctio,
						  officia quis dolore quos sapiente tempore alias.</p>
						<div class="table-responsive">
						  <table class="table table-sm table-borderless mb-0">
							<tbody>
							  <tr>
								<th class="pl-0 w-25" scope="row"><strong>Made In:</strong></th>
								<td>Uganda</td>
							  </tr>
							  <tr>
								<th class="pl-0 w-25" scope="row"><strong>Model</strong></th>
								<td>TW-20</td>
							  </tr>
							  <tr>
								<th class="pl-0 w-25" scope="row"><strong>Solution</strong></th>
								<td>Covid-19</td>
							  </tr>
							</tbody>
						  </table>
						</div>
					</div>
				  </div>
				</div>
				
			  </div>
		</div>

	</div>
</section>