<div class="bg-info">
  <div class="container">
    <h1>Our Services</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="row">
      <div class="col-md-6">
        <figure class="figure">
        <img class="img-thumbnail" src="assets/services/tomato.jpg" />
        <figcaption class="figure-caption">A Backyard vegetable garden.</figcaption>
      </figure>
      </div>
      <div class="col-md-6 info">
        <h2>Backyard Gardening</h2>
        <p>
          Backyard gardening in urban areas in Uganda hasn’t been so popular due to a number of reasons.But once given priority can enhance the livelihoods of many urban dwellers thus boosting household income and food production as well.
        </p>
        <p>
          Backyard vegetable garden is a small garden attached to a house where vegetables, herbs and fruits are grown for either household use or commercial purposes.
        </p>
      </div>
    </div>
    <div class="row">
      <p>There are very many species of local vegetables in Uganda. A number of them are indigenous to the country while others have been introduced into the country.
        Some of the vegetables are localized in specific districts while others are widespread in the country.
        The most common vegetable species that are available in Uganda include; Cabbages, broccoli, spinach, carrots, tomatoes, eggplants, Amaranthus among others.
        </p>

        <p>
          Before starting your backyard garden business, it is important to know how to grow the right kind of vegetables for your climate and how to produce enough to make profit. There are numerous ways that a vegetable garden can be grown and different things that will make your green thumb shine a little brighter.
        </p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <figure class="figure">
          <img class="img-thumbnail" src="assets/services/cabbage.jpg" />
          <figcaption class="figure-caption">A Neatly maintain cabbage garden.</figcaption>
        </figure>
      </div>
      <div class="col-md-4">
        <figure class="figure">
          <img class="img-thumbnail" src="assets/services/watr.jpg" />
          <figcaption class="figure-caption">Watering your vegetables adquately.</figcaption>
        </figure>
      </div>
      <div class="col-md-4">
        <figure class="figure">
          <img class="img-thumbnail" src="assets/services/aonnn.jpg" />
          <figcaption class="figure-caption">A Backyard vegetable garden.</figcaption>
        </figure>
      </div>
    </div>
    <div class="row">
      <p>
        Always have an adequate water supply on hand, whether you are planning to hand-water your garden every evening with a hose or watering can or you plan to install water lines and irrigation systems to bring water to the vegetables. Watering your garden in the evening prevents the sun from burning and drying the vegetables up while protecting the leaves that surround the vegetables. It is in the leaves and roots that the majority of the vegetables’ nutrients live.
      </p>
      <p>
        Invest in a good liquid lawn fertilizer that will provide nutrients to your garden and boost your vegetables’ immune system so that they can fight off bugs or other nasty things.
      </p>
      <p>
        Consult with other gardeners in your area to determine what tools are best for growing a plentiful garden and always make sure you spend time removing weeds that can choke the vegetable plant, stunting their growth.
      </p>
    </div>
  </div>
</div>
<br><br>
<div class="bg-info text-center">
  <h1>Vegetable Garden as a Profitable Business
  </h1>
</div>
<br><br>
<div class="container">
  <div class="row tips text-center">
    <div class="col-md-6">
      <div class="wrap">
        <i class="fa fa-bar-chart" aria-hidden="true"></i>
        <h2>Do your research</h2>
      <p>Ask around and check out how many people are willing to purchase organic and homegrown vegetables in your area. Consider conducting a survey to keep track of the interest in this endeavor and double-check what prices people are willing to pay. You don’t want to start a business that isn’t profitable because your pricing is too high.
      </p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="wrap">
        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
      <h2>Rent a table at the local farmers market</h2>
      <p>Farmers markets are very popular in both rural and urban areas. They are places to purchase goods, make trades, network information about numerous topics and even enjoy some family fun. Set up a table with the fruits of your labor and offer discounts on bundle or bulk purchases. You will be surprised how many people flock to farmers markets to purchase fresh vegetables.

      </p>
    </div>
    </div>

    <div class="col-md-6">
      <div class="wrap">
        <i class="fa fa-envira" aria-hidden="true"></i>
      <h2>Talk to local grocery stores</h2>
      <p>Most local grocery stores, even if they are part of a big chain brand, will entertain the idea of selling locally grown produce in their store. Set up an appointment with the manager to discuss ways you can sell your produce in your local grocery store. Just beware – they might take a portion of the profits for rent, fees, etc.
      </p></div>
    </div>

    <div class="col-md-6">
      <div class="wrap">
        <i class="fa fa-cutlery" aria-hidden="true"></i>
      <h2>Talk to local restaurants</h2>
      <p>There are so many restaurants that are willing to pay top dollar for local produce in their dishes. They make so many meals in the run of a day and they want the freshest ingredients possible to improve the flavor. Some local restaurants thrive on offering local fare and homegrown food. This also goes for restaurants located in local inns, bed and breakfasts and hotels.
      </p></div>
    </div>

    <div class="col-md-6">
      <div class="wrap">
        <i class="fa fa-users" aria-hidden="true"></i>
      <h2> Go viral</h2>
      <p>Offer your produce on social networking sites that cater to buy-and-sell. People advertise all sorts of things and actually make a decent amount of money from this. Offer your vegetables on a social media site and gauge the interest that comes your way.
      </p></div>
    </div>

    <div class="col-md-6">
      <div class="wrap">
        <i class="fa fa-blind" aria-hidden="true"></i>
      <h2> If all else fails, go old-school</h2>
      <p>The tried and true method of selling anything is going door to door and hawking your wares. Take your vegetables and bundle them into meal preps, local dishes, and salads. Choose an attractive packaging and hit the road. Drive around your area and ask people if they want to purchase one of your bundles or parks in the parking lot of a local department store with a sign on your vehicle stating prices, options and more.
      </p></div>
    </div>
  </div>
  <hr>
  <div class="row">
    <p class="text-center">
    The sky’s the limit if you just set your mind to do something and go out to do it. You can do anything you set your mind to with a little bit of time, effort and willpower. Go start making money!

    </p>
  </div>
  <br>