<div class="bg-info">
  <div class="container">
    <h1>Our Services</h1>
  </div>
</div>
<br />
<br />
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <figure class="figure">
        <img
          src="../../assets/services/backyard-gardening.jpg"
          class="figure-img img-fluid rounded"
          alt="A generic square placeholder image with rounded corners in a figure."
        />
        <figcaption class="figure-caption">
          Little or no land is no longer a hindrance
        </figcaption>
      </figure>
    </div>

    <div class="col-md-8">
      <h1>Backyard gardening and Water reuse</h1>

      <p>
        Backyard gardening simply refers to the growing of crops in a home back
        garden aimed at supplying the family with mainly greens and vegetables
        regularly; the surplus is sold off to neighbors.
      </p>

      <p>
        For urban areas, the practice is now specialized to urban gardening
        where people grow these crops including greens, vegetables, fruits,
        herbs and spices in urban and peri-urban areas where having little or no
        land is no longer a hindrance for urban households to engage in
        agriculture. These gardens are usually maintained all year round i.e.
        during both the dry and wet seasons; it is the crops grown that may be
        varied from time to time.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        The practice has in addition been expanded to urban agriculture to also
        include the rearing of chickens, ducks, and fish.
      </p>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-6">
      <p>
        Urban gardening is now done in both front and back yards, on verandas of
        houses, on balconies and on rooftops. It now comes in very many forms.
        Sacks, old tires, plastic bottles, plastic pipes, containers, buckets,
        old gumboots; you name it, are being used to grow crops.
      </p>

      <p>
        Urban gardening is influenced by a number of factors including the space
        one has available, the types of plants to be grown, and the capital
        requirements.
      </p>

      <p>
        Urban agriculture not only ensures that the family has access to healthy
        foods thus securing the family’s food and nutrition security, but it can
        also improve the household’s income when the surplus produce is sold off
        thus stimulating the local economy.
      </p>
    </div>
    <div class="col-md-6">
      <figure class="figure">
        <img
          src="../../assets/services/housing.jpg"
          class="figure-img img-fluid rounded"
          alt="A generic square placeholder image with rounded corners in a figure."
        />
        <figcaption class="figure-caption">
          Urban gardening now comes in very many forms.
        </figcaption>
      </figure>
    </div>
  </div>

  <br />
  <div class="row">
    <div class="col-md-6">
      <figure class="figure">
        <img
          src="../../assets/services/raised.jpg"
          class="figure-img img-fluid rounded"
          alt="A generic square placeholder image with rounded corners in a figure."
        />
        <figcaption class="figure-caption">
          Urban gardening now comes in very many forms.
        </figcaption>
      </figure>
    </div>
    <div class="col-md-6">
      <p>
        During dry periods, crops grown under urban gardening need to be watered
        daily. In most cases, they are watered twice in a day, early morning and
        in the evening. This increases the water demand for the household. Water
        availability varies across households in Uganda. Many households in
        urban areas spend 500 to 1000 UGX on a jerrican of water for their
        domestic needs. As such, the cost of water will also influence the
        magnitude of one’s investment in urban gardening. Water therefore needs
        to be used efficiently in the garden in order to minimize water costs.
      </p>
    </div>
  </div>

  <br />
  <div class="row">
    <div class="col-md-12">
      <p>
        One way of using water more efficiently in a household engaging in urban
        gardening is to reuse water. Pre-used water, that does not contain soap,
        oil, salt or any other additives, can be used to water urban gardens
        instead of using fresh water. Water that is used to rinse clothes and
        dishes can be used. Also, water that is used during cooking can be used.
        This can include for instance, water used to wash vegetables, fruits and
        other foods before eating or cooking them, water used to rinse rice
        before cooking it, and water used to boil foods like eggs, potatoes etc.
        after it cools. After this water cools down, it is recommended to use it
        within 24 hours before it develops bacteria. Also, pre-used water can be
        diluted with freshwater before watering urban gardens.
      </p>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-4">
      <figure class="figure">
        <img
          src="../../assets/services/image--005.jpg"
          class="figure-img img-fluid rounded"
          alt="A generic square placeholder image with rounded corners in a figure."
        />
        <figcaption class="figure-caption">
          Urban gardening now comes in very many forms.
        </figcaption>
      </figure>
    </div>

    <div class="col-sm-4">
      <figure class="figure">
        <img
          src="../../assets/services/image--006.jpg"
          class="figure-img img-fluid rounded"
          alt="A generic square placeholder image with rounded corners in a figure."
        />
        <figcaption class="figure-caption">
          Urban gardening now comes in very many forms.
        </figcaption>
      </figure>
    </div>

    <div class="col-sm-4">
      <figure class="figure">
        <img
          src="../../assets/services/image--007.jpg"
          class="figure-img img-fluid rounded"
          alt="A generic square placeholder image with rounded corners in a figure."
        />
        <figcaption class="figure-caption">
          Urban gardening now comes in very many forms.
        </figcaption>
      </figure>
    </div>
  </div>

  <h2>For consultancy services on backyard gardening</h2>
  <div class="row">
    <div class="col-md-4">
      <figure class="figure">
        <img
          src="../../assets/services/harriet.jpg"
          class="figure-img img-fluid rounded"
          alt="Harriet Nakabaale"
        />
        <figcaption class="figure-caption">Harriet Nakabaale</figcaption>
      </figure>
    </div>
    <div class="col-md-4">
      <br />
      <br />
      <p>
        Camp Green Uganda – Also a home to a passionate mother of two who
        dedicates her life to transforming her community with her green
        practices. With only a plot of 15m x 9m, Harriet grows, trains and
        shares knowledge on urban gardening. She works with a philosophy of
        reuse everything
      </p>
    </div>
    <div class="col-md-4">
      <br /><br />
      <p>For assistance on backyard gardening Ms. Harriet Nakabaale</p>
      <p><span>WhatsApp: </span> +256(0)782 638933</p>
      <p><span>Facebook: </span> harriet.nakabaale</p>
    </div>
  </div>
</div>
