<ngb-carousel
  #carousel
  [interval]="5000"
  [pauseOnHover]="pauseOnHover"
  [pauseOnFocus]="pauseOnFocus"
  (slide)="onSlide($event)"
>
  <ng-template ngbSlide *ngFor="let img of images; index as i">
    <div class="carousel-caption">
      <div *ngIf="i + 1 == 1" class="flex-caption row">
        <div class="item_introtext">
          <span>Our Agri-Tech</span>
          <strong>Transforms Societies</strong>
          <p>Go through our website for more</p>
        </div>
      </div>

      <div *ngIf="i + 1 == 2" class="flex-caption row">
        <div class="item_introtext">
          <span>We Improve</span>
          <strong>The Lifestyle Of Our Clients</strong>
          <p>Go through our website for more</p>
        </div>
      </div>

      <div *ngIf="i + 1 == 3" class="flex-caption row">
        <div class="item_introtext">
          <span>We Always Ensure</span>
          <strong>Your Satisfaction</strong>
          <p>Water Purification Made simple</p>
        </div>
      </div>

      <!-- <div class="item_introtext">
            <h3>My slide {{i + 1}} titl</h3>
          </div> -->
    </div>
    <a href="" rel="nofollow noopener noreferrer">
      <div class="picsum-img-wrapper">
        <img
          class="img-fluid w-100"
          [src]="img"
          alt="My image {{ i + 1 }} description"
        />
      </div>
    </a>
  </ng-template>
</ngb-carousel>
<div class="testimonial-area">
  <div class="testimonial-solid">
    <div class="row">
      <div class="col-lg-12">
        <div class="aligncenter">
          <h4>Bringing you trusted Water purifcation Technologies</h4>
          <button type="button" class="btn btn-warning">
            <a href="/soko">Read More</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<section id="intro">
  <div class="container">
    <div class="row">
      <p>
        <b>SafeWater</b> is an initiative of the Department of Agricultural and
        Biosystems Engineering, Makerere University, in collaboration with
        Badaye Technologies Ltd, under a project titled “Application of
        Mobile-Phone Technology to Advance Access to Sustainable Point-Of-Use
        Water Purification Technologies for Household Drinking Water, Knowledge
        & Water Reuse for Backyard Food Production” funded by the Government of
        Uganda under the Makerere University Research Innovation Fund (RIF).
      </p>
    </div>
  </div>
</section>

<section class="callaction">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center">
          <h1 class="bold">Project portfolio at a glance</h1>
          <span
            class="clear spacer_responsive_hide_mobile"
            style="height: 13px; display: block"
          ></span>
          <p class="text-size">
            Providing access to affordable solutions for drinking water &amp;
            Providing information on waste water reuse for backyard gardening.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="content" style="margin-top: 5em">
  <div class="container">
    <div class="row skill-home clearfix">
      <div class="col-md-4">
        <div class="text-center">
          <h3>Solar Sack</h3>
          <img
            src="assets/img/Picture3.jpg"
            class="img-thumbnail"
            alt="water gardening"
          />
          <a href="/product" class="btn btn-success">Get Solar Sack</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
          <h3>Purifaaya</h3>
          <img
            src="assets/img/Picture1.jpg"
            class="img-thumbnail"
            alt="water gardening"
          />
          <a href="/product" class="btn btn-success">Get Purifaaya</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
          <h3>Water Gardening</h3>
          <img
            src="assets/img/Picture2.jpg"
            class="img-thumbnail"
            alt="water gardening"
          />
          <a href="/services" class="btn btn-success">Get Sack Garden</a>
        </div>
      </div>
    </div>
  </div>
</section>
<br />
<section class="gardening">
  <div class="container">
    <h2 class="bold">Water in Micro-gardening</h2>

    <div class="row">
      <div class="col-md-6">
        <iframe
          width="853"
          height="480"
          src="https://www.youtube.com/embed/6rLaxgCvpCE"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-md-6">
        <p class="text-size">
          Gray water and other waste water can be used to grow vegetables and
          spices in urban and rural backyards.
        </p>

        <p class="text-size">
          This offsets the kitchen budget by expanding the diet and cab be sold
          to add an extra income line. Mrs. Nakabaale has been earning from
          micro-gardening for 27 years.
        </p>
        <br /><br />
        <a href="/services" class="btn btn-success">Click to Learn More</a>
      </div>
    </div>
  </div>
</section>
<br /><br />
<section class="container urban text-center">
  <h2 class="bold text-center">Urban Micro-Gardening</h2>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <iframe
        width="853"
        height="480"
        src="https://www.youtube.com/embed/Ba9QTHGXO5o"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <p class="text-size">
        Mrs. Nakabaale introduces the concept of micro-gardening
      </p>
    </div>
    <div class="col-md-6">
      <iframe
        width="853"
        height="480"
        src="https://www.youtube.com/embed/Ba9QTHGXO5o"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <p class="text-size">
        Mrs. Nakabaale shows you how to make a sack 4-face garden
      </p>
    </div>
  </div>
  <a href="#" class="btn btn-success">Schedule Field Visit</a>
</section>
<br /><br />
<section class="gardening">
  <div class="container">
    <h2 class="bold">Purifaaya ceramic filters</h2>

    <div class="row">
      <div class="col-md-6">
        <iframe
          width="853"
          height="480"
          src="https://www.youtube.com/embed/Ba9QTHGXO5o"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-md-6">
        <p class="text-size">
          Spouts of water has made and distributed over 65,000 Ceramic filters
          in Uganda.
        </p>

        <p class="text-size">
          These affordable water purification buckets have helped over 450,000
          Ugandans access safe drinking water without the heavy costs associated
          with boiling.
        </p>
        <br /><br />
        <a href="/product" class="btn btn-success">Click to Order </a>
      </div>
    </div>
  </div>
</section>

<section class="partnerships">
  <div class="container">
    <h2 class="">Partnerships</h2>

    <div class="row">
      <div class="col-sm-4 text-center">
        <figure class="figure">
          <img
            src="../../assets/partners/image--014.jpg"
            style="max-width: 100px"
            class="figure-img img-fluid rounded"
            alt="A generic square placeholder image with rounded corners in a figure."
          />
          <figcaption class="figure-caption">Makerere University</figcaption>
        </figure>
      </div>

      <div class="col-sm-4">
        <figure class="figure">
          <img
            src="../../assets/partners/image--015.jpg"
            style="max-width: 100px"
            class="figure-img img-fluid rounded"
            alt="A generic square placeholder image with rounded corners in a figure."
          />
          <figcaption class="figure-caption text-center">
            Government of Uganda
          </figcaption>
        </figure>
      </div>

      <div class="col-sm-4">
        <figure class="figure">
          <img
            src="../../assets/partners/image--016.jpg"
            style="max-width: 100px"
            class="figure-img img-fluid rounded"
            alt="A generic square placeholder image with rounded corners in a figure."
          />
          <figcaption class="figure-caption">Badeya Tech Ltd.</figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>

<section class="features">
  <div class="container">
    <h2 class="">Featured Product and Service Suppliers</h2>
    <div class="row">
      <ul>
        <li><a href="https://spouts.org">Purifaaya - Spouts of water</a></li>
        <li><a href="https://solarsack.com">Solarsack</a></li>
        <li>
          <a href="https://uganda.arocha.org"
            >Biosand filter – Arocha Uganda
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/harriet.nakabaale"
            >Backyard gardening services – Harriet Nakabaale</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
